In [1]:
# Import dependencies. 
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [5]:
engine = create_engine("sqlite:///hawaii.sqlite")

In [6]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [7]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [8]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [9]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Climate Analysis

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
#Starting from the last data point in the database. 
prev_year = dt.date(2017, 8, 23)
# Calculate the date one year from the last date in data set.
prev_year = dt.date(2017, 8, 23) - dt.timedelta(days=365)
# Perform a query to retrieve the data and precipitation scores
results = []
# Save the query results as a Pandas DataFrame and set the index to the date column
results = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= prev_year).all()
# Sort the dataframe by date
df = pd.DataFrame(results, columns=['date','precipitation'])
df.set_index(df['date'], inplace=True)
df = df.sort_index()
### print(df.to_string(index=False))
# Use Pandas Plotting with Matplotlib to plot the data
df.plot()

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data
df.describe()

In [ ]:
# How many stations are available in this dataset?
session.query(func.count(Station.station)).all()

In [ ]:
# What are the most active stations?
# List the stations and the counts in descending order.
session.query()
session.query(Measurement.station, func.count(Measurement.station)).\
group_by(Measurement.station).order_by(func.count(Measurement.station).desc()).all()

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature most active station?
session.query()
session.query(func.min(Measurement.tobs), func.max(Measurement.tobs), func.avg(Measurement.tobs)).\
filter(Measurement.station == 'USC00519281').all()

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram
results = session.query(Measurement.tobs).\
filter(Measurement.station == 'USC00519281').\
filter(Measurement.date >= prev_year).all()
df = pd.DataFrame(results, columns=['tobs'])

df.plot.hist(bins=12)

plt.tight_layout()

In [ ]:
# Write a function called `calc_temps` that will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    return session.query(func.min(Measurement.tobs), func.max(Measurement.tobs), func.avg(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()
min_max_avg = (calc_temps('2016-18-02', '2017-18-03'))
print(min_max_avg)

# Challenge

In [22]:
# June 2017 Rainfall
# Refactored code from the above Module.
# Design a query to retrieve the month of precipitation data and plot the results. 
# Starting from the first data point in the dataset. 
june_1_17 = dt.date(2017, 6, 1)
# Calculate the date one month from the first date in data set.
june_30_17 = dt.date(2017, 6, 1) + dt.timedelta(days=29)
# Perform a query to retrieve the data and precipitation scores
results = []
results = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= june_1_17).filter(Measurement.date <= june_30_17).all()
# Save the query results as a Pandas DataFrame and set the index to the date column
df = pd.DataFrame(results, columns=['date','precipitation'])
df.set_index(df['date'], inplace=False)
# Sort the dataframe by date
df = df.sort_index()
# Show the df
df

           date  precipitation
0    2017-06-01           0.00
1    2017-06-02           0.00
2    2017-06-03           0.02
3    2017-06-04           0.00
4    2017-06-05           0.00
..          ...            ...
186  2017-06-26           0.02
187  2017-06-27           0.10
188  2017-06-28           0.02
189  2017-06-29           0.04
190  2017-06-30           0.20

[191 rows x 2 columns]

In [24]:
# Get the stats of the rainfall in June 2017
df.describe()

       precipitation
count     171.000000
mean        0.120000
std         0.217726
min         0.000000
25%         0.000000
50%         0.020000
75%         0.150000
max         1.690000

In [23]:
# Range of temps of June 2017
# Return the minimum, average, and maximum temperatures of the range of dates
def june_calc_temps(start_date, end_date):
    return session.query(func.min(Measurement.tobs), func.max(Measurement.tobs), func.avg(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()
min_max_avg = (june_calc_temps('2017-06-01', '2017-06-30'))
print(min_max_avg)

[(71.0, 83.0, 77.21989528795811)]

In [25]:
# December 2017 Rainfall
# Design a query to retrieve the month of precipitation data and plot the results. 
# Starting from the first data point in the dataset. 
dec_1_17 = dt.date(2017, 12, 1)
# Calculate the date one month from the first date in data set.
dec_31_17 = dt.date(2017, 12, 1) + dt.timedelta(days=30)
# Perform a query to retrieve the data and precipitation scores
results = []
results = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= dec_1_17).filter(Measurement.date <= dec_31_17).all()
# Save the query results as a Pandas DataFrame and set the index to the date column
df = pd.DataFrame(results, columns=['date','precipitation'])
df.set_index(df['date'], inplace=False)
# Sort the dataframe by date
df = df.sort_index()
# Show the df
df

Empty DataFrame
Columns: [date, precipitation]
Index: []

In [26]:
# Get the stats of the rainfall in December 2017
df.describe()

       date precipitation
count     0             0
unique    0             0
top     NaN           NaN
freq    NaN           NaN

In [27]:
# Range of temps of December 2017
# Return the minimum, average, and maximum temperatures of the range of dates
def dec_calc_temps(start_date, end_date):
    return session.query(func.min(Measurement.tobs), func.max(Measurement.tobs), func.avg(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()
min_max_avg = (june_calc_temps('2017-12-01', '2017-12-31'))
print(min_max_avg)

[(None, None, None)]

In [28]:
# June 2016 Rainfall
# Design a query to retrieve the month of precipitation data and plot the results. 
# Starting from the first data point in the dataset. 
june_1_16 = dt.date(2016, 6, 1)
# Calculate the date one month from the first date in data set.
june_30_16 = dt.date(2016, 6, 1) + dt.timedelta(days=29)
# Perform a query to retrieve the data and precipitation scores
results = []
results = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= june_1_16).filter(Measurement.date <= june_30_16).all()
# Save the query results as a Pandas DataFrame and set the index to the date column
df = pd.DataFrame(results, columns=['date','precipitation'])
df.set_index(df['date'], inplace=False)
# Sort the dataframe by date
df = df.sort_index()
# Show the df
df

           date  precipitation
0    2016-06-01           0.06
1    2016-06-02           0.00
2    2016-06-03           0.00
3    2016-06-04           0.00
4    2016-06-05           0.00
..          ...            ...
189  2016-06-25            NaN
190  2016-06-26           0.70
191  2016-06-27           0.30
192  2016-06-28           0.25
193  2016-06-29           0.35

[194 rows x 2 columns]

In [29]:
# Get the stats of the rainfall in June 2016.
df.describe()

       precipitation
count     173.000000
mean        0.212312
std         0.327195
min         0.000000
25%         0.010000
50%         0.060000
75%         0.280000
max         1.700000

In [30]:
# Range of temps of June 2016
# Return the minimum, average, and maximum temperatures of the range of dates
def june_calc_temps(start_date, end_date):
    return session.query(func.min(Measurement.tobs), func.max(Measurement.tobs), func.avg(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()
min_max_avg = (june_calc_temps('2016-06-01', '2016-06-30'))
print(min_max_avg)

[(64.0, 81.0, 75.17525773195877)]

In [31]:
# December 2016 Rainfall
# Design a query to retrieve the month of precipitation data and plot the results. 
# Starting from the first data point in the dataset. 
dec_1_16 = dt.date(2016, 12, 1)
# Calculate the date one month from the first date in data set.
dec_31_16 = dt.date(2016, 12, 1) + dt.timedelta(days=30)
# Perform a query to retrieve the data and precipitation scores
results = []
results = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= dec_1_16).filter(Measurement.date <= dec_31_16).all()
# Save the query results as a Pandas DataFrame and set the index to the date column
df = pd.DataFrame(results, columns=['date','precipitation'])
df.set_index(df['date'], inplace=False)
# Sort the dataframe by date
df = df.sort_index()
# Show the df
df

           date  precipitation
0    2016-12-01           0.12
1    2016-12-02           0.03
2    2016-12-03           0.00
3    2016-12-04           0.03
4    2016-12-05           0.43
..          ...            ...
195  2016-12-27           0.14
196  2016-12-28           0.14
197  2016-12-29           1.03
198  2016-12-30           2.37
199  2016-12-31           0.90

[200 rows x 2 columns]

In [32]:
# Get the stats of the rainfall in December 2016.
df.describe()

       precipitation
count     178.000000
mean        0.199494
std         0.342967
min         0.000000
25%         0.020000
50%         0.060000
75%         0.247500
max         2.370000

In [33]:
# Range of temps of December 2016
# Return the minimum, average, and maximum temperatures of the range of dates
def dec_calc_temps(start_date, end_date):
    return session.query(func.min(Measurement.tobs), func.max(Measurement.tobs), func.avg(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()
min_max_avg = (june_calc_temps('2016-12-01', '2016-12-31'))
print(min_max_avg)

[(60.0, 78.0, 71.13)]

In [38]:
# June 2015 Rainfall
# Design a query to retrieve the month of precipitation data and plot the results. 
# Starting from the first data point in the dataset. 
june_1_15 = dt.date(2015, 6, 1)
# Calculate the date one month from the first date in data set.
june_30_15 = dt.date(2015, 6, 1) + dt.timedelta(days=29)
# Perform a query to retrieve the data and precipitation scores
results = []
results = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= june_1_15).filter(Measurement.date <= june_30_15).all()
# Save the query results as a Pandas DataFrame and set the index to the date column
df = pd.DataFrame(results, columns=['date','precipitation'])
df.set_index(df['date'], inplace=False)
# Sort the dataframe by date
df = df.sort_index()
# Show the df
df

           date  precipitation
0    2015-06-01           0.00
1    2015-06-02           0.00
2    2015-06-03           0.00
3    2015-06-04           0.00
4    2015-06-05           0.00
..          ...            ...
198  2015-06-26           0.40
199  2015-06-27           0.17
200  2015-06-28           0.16
201  2015-06-29           1.62
202  2015-06-30           0.00

[203 rows x 2 columns]

In [39]:
# Get the stats of the rainfall in June 2015
df.describe()

       precipitation
count     188.000000
mean        0.125160
std         0.300391
min         0.000000
25%         0.000000
50%         0.010000
75%         0.115000
max         2.470000

In [40]:
# Range of temps of June 2015
# Return the minimum, average, and maximum temperatures of the range of dates
def june_calc_temps(start_date, end_date):
    return session.query(func.min(Measurement.tobs), func.max(Measurement.tobs), func.avg(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()
min_max_avg = (june_calc_temps('2015-06-01', '2015-06-30'))
print(min_max_avg)

[(66.0, 81.0, 74.99014778325123)]

In [46]:
# December 2015 Rainfall
# Design a query to retrieve the month of precipitation data and plot the results. 
# Starting from the first data point in the dataset. 
dec_1_15 = dt.date(2015, 12, 1)
# Calculate the date one month from the first date in data set.
dec_31_15 = dt.date(2015, 12, 1) + dt.timedelta(days=30)
# Perform a query to retrieve the data and precipitation scores
results = []
results = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= dec_1_15).filter(Measurement.date <= dec_31_15).all()
# Save the query results as a Pandas DataFrame and set the index to the date column
df = pd.DataFrame(results, columns=['date','precipitation'])
df.set_index(df['date'], inplace=False)
# Sort the dataframe by date
df = df.sort_index()
# Show the df
df

           date  precipitation
0    2015-12-01           0.00
1    2015-12-02           0.00
2    2015-12-03           0.06
3    2015-12-04           0.02
4    2015-12-05           0.00
..          ...            ...
179  2015-12-26           0.81
180  2015-12-27           2.21
181  2015-12-29            NaN
182  2015-12-30           0.03
183  2015-12-31           0.10

[184 rows x 2 columns]

In [42]:
# Get the stats of the rainfall in Decemner 2015
df.describe()

       precipitation
count     162.000000
mean        0.169506
std         0.290003
min         0.000000
25%         0.010000
50%         0.075000
75%         0.187500
max         2.210000

In [43]:
# Range of temps of December 2015
# Return the minimum, average, and maximum temperatures of the range of dates
def dec_calc_temps(start_date, end_date):
    return session.query(func.min(Measurement.tobs), func.max(Measurement.tobs), func.avg(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()
min_max_avg = (june_calc_temps('2015-12-01', '2015-12-31'))
print(min_max_avg)

[(65.0, 82.0, 73.42391304347827)]